*.pyc
*.log
/data

# IDEA Files #
.idea
*.iml

/corpus/plain/*
!/corpus/plain/.gitkeep
/corpus/tagged/*
!/corpus/tagged/.gitkeep
/corpus/*.pickle

/learning/*
!/learning/.gitkeep

# Generated Latex Files #
*.aux
*.fdb_latexmk
*.out
*.pdf*
!*.pdfpc
*.el
*.snm
*.toc
*.nav
*.bbl
*.blg
*.~
*.vrb
*blx.bib
*run.xml

# generated
doc/docu/img/dfa.png
